includes:
    - ./vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    level: max
    paths:
        - src
    checkMissingIterableValueType: true

